# files to ignore #
.jekyll-metadata
.sass-cache

# subdirectories to ignore #
_site/
old/
crochet/

# latex auxiliary files for cv #
cv/cv*.aux
cv/cv*.log
cv/cv*.out
cv/cv*.synctex.gz
cv/cv*.bbl
cv/cv*.blg
