# teaching folders
ampolcourse/
designcourse/
expcourse/
exppolcourse/
lectures/
legexpcourse/
opinioncourse/
polpsycourse/
rcourse/
regcourse/
rrcourse/
statcompcourse/
surveycourse/
surveyexpcourse/
websurveycourse/

# software folders
cregg/
csvy/
margins/
pdfcount/
prediction/
rio/

# build output
_site/
.sass-cache/
.jekyll-metadata

# latex auxiliary files for cv
cv/cv*.aux
cv/cv*.log
cv/cv*.out
cv/cv*.synctex.gz
cv/cv*.bbl
cv/cv*.blg

*.tar.gz
