/* GENERAL FORMATTING */
@import url(http://fonts.googleapis.com/css?family=Lato);
html {
    margin:5px;
    padding:5px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
}

body {
    background-color:white;
    margin-left:20%;
    margin-right:20%;
}

/* HEADINGS */
h1 {
    color:#4c4c4c; 
    text-align:left; 
    font-weight:bold; 
    font-size:24px;
}
h2 {
    color:#4c4c4c; 
    text-align:left; 
    font-weight:bold; 
    font-size:20px;
}
h3 {
    color:#4c4c4c; 
    text-align:left; 
    font-weight:bold; 
    font-size:16px;
}
h5 {
    background-color:#4c4c4c;
    color:white;
    text-align:center;
    font-size:16px;
}


/* TABLES */
table {
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

td {
    text-align:center;
    font-size:.8em;
    padding-left:2.5em;
    padding-right:2.5em;
}

/* IMAGES */
img {
    max-width:90%;
}

/* TEXT */
p {    
    margin-bottom:0.2em;
    color:#4c4c4c;
    text-align:justify;
    margin-left:0em;
    font-size:16px;
}

header {
    font-weight:bold;
    font-size:32px;
    text-decoration:none;
    width:9em;
/*    float:left; */
    text-align:right;
    margin-left:0em;
    margin-bottom:0.2em;
    color:#4c4c4c;
}
header a {
    color:#4c4c4c;
    text-decoration:none;
}
header a:hover {
    color:#4c4c4c;
    text-decoration:none;
}


.body {    
    margin-bottom:0.2em;
    color:#4c4c4c;
    text-align:center;
    margin-left: 0in;
    font-size:16px;
}
.small {
    margin-bottom:0.2em;
    color:#4c4c4c;
    margin-left:0em;
    text-align:center;
    font-size:14px;
}
.name {    
    color:#4c4c4c;
    font-style:italic;
    text-align:center;
    font-size:12px;
}


/* HYPERLINKS */
a {    
    color:#4c4c4c;
    text-decoration:none; 
    color:maroon;
}
a:hover {
    text-decoration:underline;
} 

/* CODE */

code {
    color:#4c4c4c;
    /*background-color:#f6f6f6;*/
    /*font-weight:bold;*/
    font-size:.8em;
    font-family: Consolas, Monaco, monospace;
}


/* LISTS */

li {
    margin-left:1em;
    /*margin-bottom:0.5em;*/
    color:#4c4c4c;
    text-align:left;
    font-size:16px;
    /* text-indent: -1em; */
    list-style: square; 
} 

/*
ul li:before {
    content: "+";
} 
*/

/* HEADER AND FOOTER */
hr {
    height:1px;
    border:0;
    background-color:#4c4c4c;
    margin-bottom:1em;
    margin-top:1em;
}
nav{
    font-weight:bold;
    text-transform:uppercase;
    font-size:18px;
    float:left;
    margin-left:-10em;
    width:9em;
    text-align:right;
}
nav a{
    color:#4c4c4c;
    display:block;
    padding:.5em 1em;
}
nav a:hover{
    color:#e6e6e6;
    background-color:maroon;
    text-decoration:none;
}
